asgiref
Django
sqlparse
attrs
certifi
h11
idna
outcome
PySocks
selenium
sniffio
sortedcontainers
trio
trio-websocket
typing_extensions
urllib3
websocket-client
wsproto
psycopg2-binary
django-redis
redis
elasticsearch
elasticsearch-dsl